@page
@model Exam_Q1.Model.Currency
@{
}

<section class="content-header">
    <div class="limiter">
        <div class="container-table150">
            <div class="wrap-table100">
                <div class="table100 ver1">
                    <div class="#">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="" style="padding: 20px;">ID</th>
                                    <th class="cell100 column2">Username</th>
                                    <th class="cell100 column3">FirstName</th>
                                    <th class="cell100 column4">LastName</th>
                                    <th class="cell100 column5">Gender</th>
                                    <th class="cell100 column6">Birthday</th>
                                    <th class="cell100 column7">Email</th>
                                    <th class="cell100 column7">Status</th>
                                    <th class="cell100 column8">Action</th>
                                </tr>
                            </thead>
                            <tbody class=" tb-content"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>